<div class="header">
  <div class="logo"></div>
  <div class="title"><h1>Aurélie Foucherot</h1></div>
  <div class="langue"></div>
</div>
<div class="navbar navbar-expand navbar-light navbar-lewagon" id="menu">
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="<%= 'active' if current_page?(root_path)%> nav-item">
        <%= link_to "ART", root_path, class: "nav-link" %>
      </li>
      <li class="<%= 'active' if current_page?(pages_shop_path)%> nav-item">
        <%= link_to "SHOP", pages_shop_path, :class => current_page?(pages_shop_path) ? 'active' : '', class: "nav-link" %>
      </li>
      <li class="<%= 'active' if current_page?(pages_about_path)%> nav-item">
        <%= link_to "ABOUT", pages_about_path, :class => current_page?(pages_about_path) ? 'active' : '', class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

