<!DOCTYPE html>
<html>
  <head>
    <title>AurelieWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-content">
      <%= render 'shared/navbar' %>
        <div class="container">
          <%= yield %>
        </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>

<style>

.container {
  padding-bottom: 280px;
}

body {
  background-color: #fffffc;
}

.main-content {
  position: relative;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .drawing-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .theme-cards {
    padding: 0 120px;
  }
  .about {
    padding: 0 300px;
  }
}

@media (max-width: 960px) {
  .footer-info {
    padding: 20px 100px;
  }
  .drawing-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about {
    padding: 0 100px;
  }
}

@media (max-width: 720px) {
  .drawing-cards {
    grid-template-columns: 1fr;
  }
  .theme-cards {
    grid-template-columns: 1fr;
  }
  .footer-info {
    padding: 0;
  }
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .about {
    padding: 0 20px;
  }
}

@media (max-width: 540px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

</style>
